---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="zh-CN">
	<head>
		<BaseHead title={`Introduction - ${SITE_TITLE}`} description="关于 xz-dev 的个人博客介绍" />
	</head>
	<body>
		<Header />
		<main>
			<article>
				<div class="prose">
					<h1>Introduction</h1>

					<blockquote>
						<p>这是 xz-dev 的个人博客</p>
						<p>主要用于分享 IT 技术与博主的碎碎念 ฅ'ω'ฅ</p>
					</blockquote>

					<blockquote>
						<p><a href="https://github.com/xz-dev" target="_blank" rel="noopener noreferrer">GitHub 主页</a></p>
					</blockquote>

					<blockquote>
						<p><strong>Stack Exchange 社区活跃贡献者</strong></p>
						<p>
							<a href="https://stackoverflow.com/users/15715806/inkflaw" target="_blank" rel="noopener noreferrer">Stack Overflow</a> |
							<a href="https://askubuntu.com/users/2416571/inkflaw" target="_blank" rel="noopener noreferrer">Ask Ubuntu</a> |
							<a href="https://serverfault.com/users/1054048/inkflaw" target="_blank" rel="noopener noreferrer">Server Fault</a> |
							<a href="https://unix.stackexchange.com/users/492540/inkflaw" target="_blank" rel="noopener noreferrer">Unix & Linux</a> |
							<a href="https://emacs.stackexchange.com/users/39834/inkflaw" target="_blank" rel="noopener noreferrer">Emacs</a> |
							<a href="https://superuser.com/users/1861122/inkflaw" target="_blank" rel="noopener noreferrer">Super User</a>
						</p>
					</blockquote>

					<blockquote>
						<p><strong>Linux Wiki 贡献者</strong></p>
						<p>
							<a href="https://wiki.archlinux.org/title/Special:Contributions/Xz-dev" target="_blank" rel="noopener noreferrer">Arch Wiki</a> |
							<a href="https://wiki.gentoo.org/wiki/Special:Contributions/Inkflaw" target="_blank" rel="noopener noreferrer">Gentoo Wiki</a>
						</p>
					</blockquote>

					<blockquote>
						<p>Donate: <a href="https://ko-fi.com/xz117514" target="_blank" rel="noopener noreferrer">https://ko-fi.com/xz117514</a></p>
					</blockquote>

					<p>
						欢迎交流 :<br/>
						Matrix(Base64): QGlua2ZsYXc6bWF0cml4Lm9yZw==<br/>
						Mail(Base64): eGlhbmd6aGVkZXZAZ21haWwuY29t<br/>
						Mastodon: <a href="https://fosstodon.org/@xzdev" target="_blank" rel="noopener noreferrer">https://fosstodon.org/@xzdev</a>
					</p>

					<blockquote>
						<p><strong>简历 / CV</strong></p>
						<p>
							<a href="/cv/xiangzhe_cv-zh_en.pdf" target="_blank">中英双语版</a> |
							<a href="/cv/xiangzhe_cv.pdf" target="_blank">English</a> |
							<a href="/cv/曾祥哲的简历.pdf" target="_blank">中文版</a>
						</p>
					</blockquote>
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
