---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="zh-CN">
	<head>
		<BaseHead title={`Introduction - ${SITE_TITLE}`} description="关于 xz-dev 的个人博客介绍" />
	</head>
	<body>
		<Header />
		<main>
			<article>
				<div class="prose">
					<h1>Introduction</h1>

					<blockquote>
						<p>这是 xz-dev 的个人博客</p>
						<p>主要用于分享 IT 技术与博主的碎碎念 ฅ'ω'ฅ</p>
					</blockquote>

					<blockquote>
						<p><a href="https://github.com/xz-dev" target="_blank" rel="noopener noreferrer">GitHub 主页</a></p>
					</blockquote>

					<blockquote>
						<p>Donate: <a href="https://ko-fi.com/xz117514" target="_blank" rel="noopener noreferrer">https://ko-fi.com/xz117514</a></p>
					</blockquote>

					<p>
						欢迎交流 :<br/>
						Matrix(Base64): QGlua2ZsYXc6bWF0cml4Lm9yZw==<br/>
						Mail(Base64): eGlhbmd6aGVkZXZAZ21haWwuY29t<br/>
						Mastodon: <a href="https://fosstodon.org/@xzdev" target="_blank" rel="noopener noreferrer">https://fosstodon.org/@xzdev</a>
					</p>
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
