---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '');
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + (subpath?.[0] || '');
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
	<slot />
</a>
<style>
	a {
		display: inline-block;
		padding: 0.75em 1em;
		color: var(--fg-primary);
		text-decoration: none;
		border: 1px solid transparent;
		transition: all 0.2s ease;
		font-weight: 500;
	}

	a:hover {
		background: var(--accent);
		color: var(--bg-primary);
		border-color: var(--accent);
	}

	a.active {
		background: var(--accent);
		color: var(--bg-primary);
		border-color: var(--accent);
		font-weight: 700;
	}
</style>
